<div class="row">
	<div class="col-md-12">
		<div class="page-content page-content-user-profile">
			<div class="user-profile-widget">
				<h2>Lists User</h2>
				<div class="ul_list ul_list-icon-ok">
					<ul>
					<% @users.each do |user_c| %>
					<% @userc = user_c %>
						<li><i class="icon-user"></i><a href="#"><span><%= user_c.name %></span></a><div style="float: right"><%= render 'follow_form' if user_signed_in? %></div></li>
						
						
						
					<% end %>
					</ul>
					
				</div>
			</div>
		</div><!-- End page-content -->
	</div>
</div>
