<div class="row">
	<div class="col-md-12">
		<div class="page-content page-content-user-profile">
			<div class="user-profile-widget">
				<h2>Lists User</h2>
				<div class="ul_list ul_list-icon-ok">
					<ul>
					<% @users.each do |user| %>
						<li><i class="icon-user"></i><a href="#"><span><%= user.name %></span></a><a class="" href="#" style="float: right">Folow</a></li>
					<% end %>
					</ul>
					
				</div>
			</div>
		</div><!-- End page-content -->
	</div>
</div>
